@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(
    to bottom,
    #eafbff 0,
    #eafbff 50%,
    #5290f9 50%,
    #5290f9 100%
  );
  font-family: "Muli", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

nav {
  background-color: white;
  width: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s ease;
}

nav.active {
  width: 350px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s ease;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0);
  margin: 0 10px;
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  color: black;
  text-decoration: none;
}

nav .icon {
  background-color: white;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border: none;
  position: relative;
}

nav .icon:focus {
  outline: none;
}

nav .icon .line {
  position: absolute;
  background-color: #5290f9;
  width: 20px;
  height: 2px;
  top: 10px;
  right: 5px;
  transition: transform 0.6s ease;
}

nav .icon .line2 {
  bottom: 10px;
  top: auto;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}
