@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Muli", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.key {
  background-color: #2b2b2b;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.key small {
  position: absolute;
  color: #8f8f8f;
  top: -24px;
  font-weight: normal;
  font-size: 14px;
}
