@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: steelblue;
  font-family: "Muli", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 5px;
  color: white;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

form p {
  margin-top: 30px;
}

.form-control {
  width: 300px;
  position: relative;
  margin: 20px 0 40px;
}

.form-control input {
  display: block;
  width: 100%;
  font-family: inherit;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 18px;
  padding: 15px 0;
}

.form-control input:focus {
  outline: none;
  border-color: lightblue;
}

form .btn {
  width: 100%;
  padding: 15px;
  font-family: inherit;
  font-size: 1rem;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form .btn:focus {
  outline: none;
}

form .btn:active {
  transform: scale(0.98);
}

.form-control label {
  font-size: 18px;
  position: absolute;
  top: 17px;
  left: 0;
}

.form-control label span {
  min-width: 5px;
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  transform: translateY(-30px);
  color: lightblue;
}
